<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Processes to Monitor -->
    <add key="PMonitorNbOfProcesses" value="1"/>
    
    <!-- 
    The name and friendly name of the process you want to monitor separated by comma. You can Choose the process name 
    from the windows task manager. In this example, I will chose notepad. In windows, the process name is found without
    adding the .exe extension.
    -->
    <add key="PMonitorProcess1" value="notepad,Notepad"/>
  </appSettings>
</configuration>