<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Processes to Monitor -->
    <add key="PMonitorNbOfProcesses" value="2"/>
    
    <!-- 
    The names and friendlys names of the processes you want to monitor, separated by comma. You can choose the process name 
    from the Windows task manager. In this example, I will chose notepad. In windows, the process name does not contain .exe extension.
    -->
    <add key="PMonitorProcess1" value="notepad,Notepad"/>
    <add key="PMonitorProcess2" value="notepad2,Notepad2"/>
  </appSettings>
</configuration>