<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Processes to Monitor -->
    <add key="PMonitorNbOfProcesses" value="2"/>
    <add key="PMonitorProcess1" value="PMonitor.DemoProcess1,Demo1"/>
    <add key="PMonitorProcess2" value="PMonitor.DemoProcess2,Demo2"/>
  </appSettings>
</configuration>